In [1]:
import json
import pandas as pd
import numpy as np
from sklearn.utils import column_or_1d
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline

In [5]:

def getData(trainfile, testfile, testfiley):
	#
	print "adasd"
	infile = open(trainfile, 'r')
	n = infile.readline()
	#index = range(int(n))
	cols=["Physics", "Chemistry","Biology","English", "PhysicalEducation", "Accountancy", "BusinessStudies","Economics","ComputerScience"]
	ycols=["Mathematics"]
	x= pd.DataFrame(columns=cols)
	y= pd.DataFrame(columns=ycols)

	a = 0
	#with open('training-and-test/training.json', 'r') as f:
	for line in infile:
		#print line
		js=json.loads(line)
		#print js
		if "Physics" in js:
			x.loc[a,"Physics"] = js["Physics"]
		if "Chemistry" in js:
			x.loc[a,"Chemistry"] = js["Chemistry"]
		if "Biology" in js:
			x.loc[a,"Biology"] = js["Biology"]
		x.loc[a,"English"] = js["English"]
		
		if "PhysicalEducation" in js:
			x.loc[a,"PhysicalEducation"] = js["PhysicalEducation"]
		if "Accountancy" in js:
			x.loc[a,"Accountancy"] = js["Accountancy"]
		if "BusinessStudies" in js:
			x.loc[a,"BusinessStudies"] = js["BusinessStudies"]
		if "Economics" in js:
			x.loc[a,"Economics"] = js["Economics"]
		if "ComputerScience" in js:
			x.loc[a,"ComputerScience"] = js["ComputerScience"]

		y.loc[a,"Mathematics"] = js["Mathematics"]
		a=a+1

		#if a>5:
		#	break
	x=x.fillna(0)
	y=y.fillna(0)
	print n
	print a
	print "All train data Loaded !!!" if (int(n)+1)==a else  "Partial train data loaded !!!"

	infile = open(testfile, 'r')
	tn = infile.readline()
	#index = range(int(n))
	cols=["Physics", "Chemistry","Biology","English", "PhysicalEducation", "Accountancy", "BusinessStudies","Economics","ComputerScience"]
	tx= pd.DataFrame(columns=cols)
	ty= pd.DataFrame(columns=ycols)
	
	a = 0
	for line in infile:
		#print line
		js=json.loads(line)
		#print js
		if "Physics" in js:
			tx.loc[a,"Physics"] = js["Physics"]
		if "Chemistry" in js:
			tx.loc[a,"Chemistry"] = js["Chemistry"]
		if "Biology" in js:
			tx.loc[a,"Biology"] = js["Biology"]
		tx.loc[a,"English"] = js["English"]
		
		if "PhysicalEducation" in js:
			tx.loc[a,"PhysicalEducation"] = js["PhysicalEducation"]
		if "Accountancy" in js:
			tx.loc[a,"Accountancy"] = js["Accountancy"]
		if "BusinessStudies" in js:
			tx.loc[a,"BusinessStudies"] = js["BusinessStudies"]
		if "Economics" in js:
			tx.loc[a,"Economics"] = js["Economics"]
		if "ComputerScience" in js:
			tx.loc[a,"ComputerScience"] = js["ComputerScience"]		
		#print tx.loc[a,"English"]
		a=a+1

		#if a>5:
		#	break
	tx=tx.fillna(0)
	print tn
	print a
	print "All test data Loaded !!!" if (int(tn)+1)==a else  "Partial test data loaded !!!"
	ty = pd.read_csv(testfiley, names=ycols)
	#ty

	return x,y,tx,ty,n

In [6]:
trainx, trainy, testx, testy, n= getData('training-and-test/training.json', 'training-and-test/sample-test.in.json', 'training-and-test/sample-test.out.json')

adasd
79465

79465
Partial train data loaded !!!
69530

69530
Partial test data loaded !!!

In [7]:
print len(trainx)
print len(trainy)
print len(testx)
print len(testy)

79465
79465
69530
69530

In [13]:
import json
import pandas as pd
import numpy as np
from sklearn.utils import column_or_1d
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
import numpy as np
from sklearn.multiclass import OneVsRestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler


cols=["Physics", "Chemistry","Biology","English", "PhysicalEducation", "Accountancy", "BusinessStudies","Economics","ComputerScience"]
ycols=["Mathematics"]

X = trainx 
y = trainy 


clf = MultinomialNB(alpha=5.1, class_prior=None, fit_prior=True)
clf=OneVsRestClassifier(clf)
#min_max_scaler = preprocessing.MinMaxScaler()
clf.fit(X[cols].values, y[ycols].values)
'''
X_train_minmax = min_max_scaler.fit_transform(X[cols].values)
print 'Before Normalizing: \t\n',X[cols].values
print 'After Normalizing: \t\n',X_train_minmax
clf.fit(X_train_minmax, y[ycols].values)
X_test_minmax = min_max_scaler.transform(testx[cols].values)
p=pipeline.predict(X_test_minmax)
p
'''
p=clf.predict(testx[cols].values)
print 'Accuracy Score : \t '+ str(accuracy_score(testy[ycols].values, p, normalize=False))

/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/scipy/sparse/compressed.py:130: VisibleDeprecationWarning: `rank` is deprecated; use the `ndim` attribute or function instead. To find the rank of a matrix see `numpy.linalg.matrix_rank`.
  if np.rank(self.data) != 1 or np.rank(self.indices) != 1 or np.rank(self.indptr) != 1:
/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/scipy/sparse/coo.py:200: VisibleDeprecationWarning: `rank` is deprecated; use the `ndim` attribute or function instead. To find the rank of a matrix see `numpy.linalg.matrix_rank`.
  if np.rank(self.data) != 1 or np.rank(self.row) != 1 or np.rank(self.col) != 1:

Accuracy Score : 	 13221

In [14]:
print y[ycols].values
print p

[[6]
 [3]
 [2]
 ...,
 [5]
 [1]
 [2]]
[5 2 8 ..., 8 3 1]

In [16]:
testx["pred"]=p
testx["actual"]=testy
act=testx["actual"]

In [17]:
len(testx["pred"])

69530

In [18]:
#testx.ix(["pred","actual"]).ix[:, 1]
if abs(testx.iat[0, -2] - 4) ==1:
    print "works"
else:
    print "doesnt"

works

In [19]:
testx.iat[0, -2]

5

In [20]:
testx[0:14]

,Physics,Chemistry,Biology,English,PhysicalEducation,Accountancy,BusinessStudies,Economics,ComputerScience,pred,actual
0,2,2,1,1,0,0,0,0,0,5,2
1,3,3,0,4,0,0,0,0,4,2,4
2,0,0,0,1,0,1,1,3,0,8,1
3,2,2,0,1,0,0,0,0,2,3,2
4,0,0,0,2,0,5,4,3,0,8,8
5,3,6,0,3,0,0,0,0,5,3,5
6,8,5,0,8,1,0,0,0,0,3,8
7,0,0,0,6,0,3,3,2,0,8,4
8,3,2,1,3,0,0,0,0,0,3,5
9,3,2,0,4,2,0,0,0,0,1,1
10,1,1,0,2,0,0,0,0,1,1,3
11,1,1,4,1,0,0,0,0,0,5,1
12,1,2,0,1,1,0,0,0,0,1,1
13,4,4,2,3,0,0,0,0,0,5,3

In [21]:
len(testx["actual"])

69530

In [22]:
len(p)

69530

In [23]:
testx.to_csv('training-and-test/pred.csv')

In [24]:
sum=0
for i in range(len(testy)):
	if abs(testx.iat[i, -2] - testx.iat[i, -1]) <=1:
		sum = sum+1
print sum

31542

In [25]:
print 'Accuracy :\t', float(100*sum/len(testy)), ' %'

Accuracy :	45.0  %